header,
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mosk-athan {
  max-width: 200px;
}

.content {
  gap: 1rem;
}

.clock {
  font-size: 3rem;
  font-weight: 600;
  font-family: monospace;
  color: #00449f;
}

.label-set-time {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: inline-block;
}

.input-set-time {
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #00449f;
  font-size: 1.2rem;
}

.btn-set-time {
  padding: 1rem 4rem;
  border-radius: 5px;
  background-color: #00449f;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-block: 1rem;
}

.prayer-times {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.prayer-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prayer-name {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 1rem;
}

.hidden {
  display: none;
}

.speaker-on {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/speaker.png);
  width: 90px;
  height: 75px;
}

.saved {
  background-color: #009688;
}
